.h-24px {
    height: 24px;
}

.navbar-nav {
    .nav-link.active {
        color: $white;
        font-weight: bold;
    }

    .nav-link {
        color: $white;

        &:hover {
            color: $gray-200;
        }
    }
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}
@include media-breakpoint-up(lg) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-primary-white {
    background-color: $white;
}
